!!!
%html
  %head
    %title Muse-ic
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #main
      #header
        .nom
          Muse-ic
        .tagline
          <i>adj.</i>, <i>neolog.</i>: in the manner of a muse
      #trunk
        #propaganda
          %p This is a private radio streaming service written and produced by The 27<sup>th</sup> Comrade.
          %p Featuring randomised selection from playlists which are traversed non-randomly. At present, a collection of Mandé and Sahelian music, largely without vocals and heavy on acoustic—especially guitar and kora—interspersed with Luganda audio readings from <a href="http://www.faithcomesbyhearing.com/">the FCBH project</a>, at a ratio of 2:1, favouring the music.
          %p The majority of the music was originally in lossless format, but is streamed at 96kbps (44.1kHz).
          %p Alternative playlists include the latest and the best in World music, from Tel Aviv to Kouroussa, Havana to Maputo. Special thanks to <a href="http://thepiratebay.se/user/pastafari/">pastafari</a> of <i>The Quality Music Project</i> (TQMP) on The Pirate Bay.
          %p A work in progress. Still private. <a href="https://github.com/revence27/museic">Get the code.</a> Public domain.
        = yield
      #footer
        &copy; 2014, <a href="http://www.1st.ug/">Scyfy Technologies</a>. All Rights Reserved.
