!!!
%html
  %head
    %title Muse-ic
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    - if @plays then
      - pl1 = @plays.first
      - if pl1 then
        - endtm = pl1.last_play + pl1.seconds
        - curtm = Time.now
        %meta{'http-equiv' => 'Refresh', content: ([endtm, curtm].max - [endtm, curtm].min).to_i.to_s, url: request.path}/
  %body
    #main
      #header
        .nom
          Muse-ic
        .tagline
          <i>adj.</i>, <i>neolog.</i>: in the manner of a muse
      #trunk
        = yield
        #propaganda
          %p This is a private radio streaming service written and produced by Revence Kalibwani.
          %p It streams a randomised selection from playlists which are traversed non-randomly. At present, a collection of mostly Mandé and Sahelian music, most of it without vocals and heavy on strings—especially guitar and kora—interspersed with <a href="http://www.lugandabible.com/">Luganda New Testament</a> audio readings from the <a href="http://www.faithcomesbyhearing.com/"><i>Faith Comes By Hearing</i></a> project, at a ratio of 3:1, biased for the music.
          %p
            One of the playlists includes the latest and the best in World Music, from Tel Aviv to Kouroussa, Havana to Maputo, thanks to <a href="http://thepiratebay.se/user/pastafari/">pastafari</a> of <i>The Quality Music Project</i> (TQMP) on The Pirate Bay. It also features a contemporary hymnody by <a href="http://citipointelive.com/">Citipointe Live</a>.
          %p A work in progress; still private. —But <a href="https://github.com/revence27/museic">get the code</a>; Revence put it in the public domain.
      #footer
        &copy; 2014, <a href="http://www.1st.ug/">Scyfy Technologies</a>. All Rights Reserved.
