!!!
%html
  %head
    %title Muse-ic
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #main
      #header
        .nom
          Muse-ic
        .tagline
          <i>adj.</i>, <i>neolog.</i>: in the manner of a muse
      #trunk
        = yield
        #propaganda
          %p This is a private radio streaming service written and produced by The 27<sup>th</sup> Comrade.
          %p Featuring randomised selection from playlists which are traversed non-randomly. At present, a collection of mostly Mandé and Sahelian music, most of it without vocals and heavy on strings—especially guitar and kora—interspersed with <a href="http://www.lugandabible.com/">Luganda New Testament</a> audio readings from the <a href="http://www.faithcomesbyhearing.com/"><i>Faith Comes By Hearing</i></a> project, at a ratio of 3:1, biased for the music.
          %p The majority of the music was originally in lossless format, but is streamed at 96kbps (32kHz).
          %p One of the playlists includes the latest and the best in World music, from Tel Aviv to Kouroussa, Havana to Maputo. Special thanks to <a href="http://thepiratebay.se/user/pastafari/">pastafari</a> of <i>The Quality Music Project</i> (TQMP) on The Pirate Bay.
          %p A work in progress; still private. —But <a href="https://github.com/revence27/museic">get the code</a>; I put in in the public domain.
      #footer
        &copy; 2014, <a href="http://www.1st.ug/">Scyfy Technologies</a>. All Rights Reserved.
