// Place all the styles related to the museic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//  @import url('http://fonts.googleapis.com/css?family=Cutive+Mono|Lora:400,700,400italic,700italic|Russo+One|Abril+Fatface|Audiowide');
@import url('http://fonts.googleapis.com/css?family=Cabin|Audiowide|Cuprum|Fjalla+One|Play&subset=latin,latin-ext');

$f1: "Play";
$f2: "Audiowide", $f1;
$f3: "Cuprum", $f2;
$f4: "Cabin", $f3;
$f5: "Fjalla One", $f4;

$col1:        rgb(0, 0, 0);
$col2orig:    rgb(182, 59, 50);
$col2:        rgba(182, 59, 50, 0.5);
$col3orig:    rgb(28, 43, 124);
$col3:        rgba(28, 43, 124, 0.7);
$tomoe_river: rgba(255, 255, 255, 0.8);

$shadow_offset: -0.1em;
$shadow_scatter: 0.125em;
$shadow_colour: lighten($col1, 40%);
$plainwhite: rgb(255, 255, 255);

body
{
  font-size: 10pt;
  color: $col1;
  font-family: $f1;
  //  background: url('/assets/kora.jpg') fixed center no-repeat;
  background: url('/kora.jpg') fixed center no-repeat;

  sup
  {
    font-size: 70%;
  }

  h1, h2, h3, h4, h5, h6
  {
    font-family: $f5;
    text-align: center;
  }

  #main
  {
    background: $tomoe_river;

    #header
    {
      text-align: right;
      padding-right: 4em;

      .nom
      {
        font-family: $f2;
        font-size: 500%;
        text-shadow: $shadow_offset $shadow_offset $shadow_scatter $shadow_colour;
        color: $col2;
      }

      .tagline
      {
        font-family: $f3;
        font-size: 150%;
        color: $col3;
      }
    }

    #trunk
    {
      font-size: 15pt;
      width: 50%;
      margin-left: 25%;
      text-align: center;

      #propaganda
      {
        font-family: $f4;
        text-align: justify;
        font-size: 75%;
        column-count: 2;
        padding: 1em;
        margin-top: 1em;
        border: white solid 2px;
        border-radius: 5px 5px 5px 5px;
      }

      table.songlist
      {
        width: 100%;
        font: inherit;

        tbody
        {
          tr
          {
            margin-bottom: 5em;

            td
            {
              vertical-align: top;

              &.first
              {
                width: 25%;
                text-align: right;

                .art
                {
                  img, .missing
                  {
                    width: 100%;
                    box-shadow: 5px 5px 5px $shadow_colour;
                    border-bottom: solid 1px $col1;
                    border-right: solid 1px $col1;
                    border-top: solid 1px $plainwhite;
                    border-left: solid 1px $plainwhite;
                  }

                  .missing
                  {
                    height: 8em;
                    vertical-align: middle;
                    text-align: center;
                    color: $plainwhite;
                    text-shadow: 0px 0px 1px $shadow_colour;
                    background: $plainwhite;
                  }
                }
              }

              &.second
              {
                width: 75%;
                text-align: left;
                padding-left: 1em;
                font-size: 120%;

                .title
                {
                  font-family: $f5;
                  font-size: 120%;
                  text-shadow: 2px 2px 3px $shadow_colour;

                  .runtime
                  {
                    display: inline;
                    //  float: right;
                    font-size: 50%;
                    font-family: $f3;
                    vertical-align: sub;
                    color: $col3orig;
                  }
                }

                .time
                {
                  font-size: 75%;
                  font-family: $f4;
                  color: $col2orig;

                  &:before
                  {
                    content: "— ";
                    color: $col3orig;
                  }
                }

                .autres
                {
                  font-family: $f1;
                  font-size: 90%;
                  padding: 1em;
                  color: $col1;

                  .artist
                  {
                    font-weight: bold;

                    &:before
                    {
                      content: "Artist: ";
                      font-size: 50%;
                      padding-right: 1em;
                      width: 1cm;
                      color: lighten($col1, 50%); 
                    }
                  }

                  .album
                  {
                    font-size: 90%;

                    .albumyear
                    {
                      display: inline;
                      vertical-align: middle;
                      padding-left: 1em;
                      font-size: 60%;
                      font-family: $f4;
                      color: $col3orig;
                    }
                  }

                  .album
                  {
                    &:before
                    {
                      content: "Album: ";
                      font-size: 50%;
                      padding-right: 1em;
                      width: 1cm;
                      color: lighten($col1, 50%); 
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    #footer
    {
      padding-top: 5em;
      padding-bottom: 2em;
      padding-left: 30%;
      padding-right: 30%;
      text-align: center;
      font-size: 70%;
      font-weight: bold;
      font-family: $f4;
    }
  }
}
