// Place all the styles related to the museic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('http://fonts.googleapis.com/css?family=Cutive+Mono|Lora:400,700,400italic,700italic|Russo+One|Abril+Fatface|Audiowide');

$f1: "Lora";
$f2: "Audiowide", $f1;
$f3: "Russo One", $f2;
$f4: "Cutive Mono", $f3;
$f5: "Abril Fatface", $f4;

$col1: rgb(0, 0, 0);
$col2: rgba(182, 59, 50, 0.5);
$col3: rgba(28, 43, 124, 0.7);
$tomoe_river: rgba(255, 255, 255, 0.8);

$shadow_offset: -0.125em;
$shadow_scatter: 0.125em;
$shadow_colour: lighten($col1, 40%);

body
{
  font-size: 10pt;
  color: $col1;
  font-family: $f1;
  //  background: url('/assets/kora.jpg') fixed center no-repeat;
  background: url('/kora.jpg') fixed center no-repeat;

  sup
  {
    font-size: 70%;
  }

  h1, h2, h3, h4, h5, h6
  {
    font-family: $f5;
    text-align: center;
  }

  #main
  {
    background: $tomoe_river;

    #header
    {
      text-align: right;
      padding-right: 4em;

      .nom
      {
        font-family: $f2;
        font-size: 500%;
        text-shadow: $shadow_offset $shadow_offset $shadow_scatter $shadow_colour;
        color: $col2;
      }

      .tagline
      {
        font-family: $f3;
        font-size: 95%;
        color: $col3;
      }
    }

    #trunk
    {
      font-size: 15pt;
      width: 50%;
      margin-left: 25%;

      #propaganda
      {
        font-family: $f4;
        text-align: justify;
        column-count: 2;
        padding: 1em;
        border: white solid 2px;
        border-radius: 5px 5px 5px 5px;
      }
    }

    #footer
    {
      text-align: center;
      font-size: 70%;
      font-weight: bold;
      font-family: $f4;
    }
  }
}
